@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

escaque = 93%
sep_escaque = 7%
sep_cajas = 2%
margen_sup_caja = 1%
margen_tit_dim = 2%
sep_sup_titulo = 0
titulo = 10%
comilla = '"'

tamannio-letra(titulo_indicador, pastillas)
  .nombre-indicador
    font-size titulo_indicador
  .titulo-dimension
    font-size (titulo_indicador*1.7*pastillas/3)
    display flex
    .bullet-dimension
      flex none
      width 1.2em
      align-self center
      font-size 120%
      text-align center
      border-radius 25px
      margin-left 0px
      margin-right 10px
    .nombre-dimension
      flex auto
  .caja-int-dimension
    grid-template-columns repeat(pastillas, 1fr)
  .caja-dimension
    if(pastillas==2)
      grid-row span 15
      for n in (1..150)
        &[mis-filas-en-2={comilla}{n}{comilla}]
          grid-row span n
    else
      grid-row span 15
      for n in (1..100)
        &[mis-filas-en-3={comilla}{n}{comilla}]
          grid-row span n
  
tres-columnas()

dos-columnas()

body
  background-color #f8f8f8

#pizarron
  padding-top 3px
  padding-bottom 3px
  font-family: 'Roboto', sans-serif;
  
  @media (min-width: 19000px)
    display grid
    grid-template-columns repeat(4, 1fr);
    tamannio-letra(0.7vw, 3)
  @media (min-width: 1500px) and (max-width: 19000px)
    @media (min-height: 2800px)
      display grid
      grid-template-columns repeat(2, 1fr);
      tamannio-letra(2vw, 2)
    @media (min-height: 1700px) and (max-height: 2800px)
      display grid
      grid-template-columns repeat(3, 1fr);
      tamannio-letra(1.4vw, 2)
    @media (max-height: 1700px)
      display grid
      grid-template-columns repeat(3, 1fr);
      tamannio-letra(0.95vw, 3)
  @media (min-width: 1280px) and (max-width: 1500px)
    display grid
    grid-template-columns repeat(3, 1fr);
    tamannio-letra(1.4vw, 2)
  @media (min-width: 1020px) and (max-width: 1280px)
    display grid
    grid-template-columns repeat(2, 1fr);
    tamannio-letra(1.4vw, 3)
  @media (min-width: 720px) and (max-width: 1020px)
    display grid
    grid-template-columns repeat(2, 1fr);
    tamannio-letra(2vw, 2)
  @media (min-width: 550px) and (max-width: 720px)
    display grid
    grid-template-columns repeat(1, 1fr);
    tamannio-letra(2.6vw, 3)
  @media                         (max-width: 550px)
    display grid
    grid-template-columns repeat(1, 1fr);
    tamannio-letra(3.6vw, 2)

  div
    x-border 1px solid gray
    x-border-radius 8px
  
  .nombre-dimension
    font-weight bold
  
  .nombre-indicador
    color white
    font-weight bold
    padding-left 5%
    padding-right (@padding-left / 2)
    padding-top 4%
    padding-bottom 3%
    min-height 30%
    text-shadow 0 0 3px #767676, 0 0 5px #969696
    x-background rgba(171,169,169,1)
    background linear-gradient(to bottom, rgba(42,54,75,0.4) 0%, rgba(171,169,169,0) 100%)
    x-background: linear-gradient(to bottom, rgba(42,54,75,0.4) 0%, rgba(171,169,169,0.32) 50%, rgba(171,169,169,0) 100%);
  
  .la-lista
    grid-column 2
    grid-row 1
    td
      min-height 28px
      height 28px
      vertical-align middle
      border-left 1px solid #e8e8e8
 
  tr:nth-child(even)
    td
      background-color #f0f0f0
  

  .titulo-dimension-contenedor
    padding-bottom 10% /* para dos renglones poner 16%*/
    width 97%
    position relative
    margin margen_tit_dim
    margin-bottom sep_sup_titulo
    margin-left 3%

  .titulo-dimension
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    padding-top 6px
    overflow hidden
    x-color #666
    color #fefefe
  
  .caja-dimension
    overflow hidden
    margin (sep_cajas / 2)
    background-color #eee
    border-radius 10px
    box-shadow 0 6px 6px -6px black

  .caja-int-dimension
    margin margen_sup_caja
    display grid
    align-items center
    justify-items center
  
  .caja-indicador-contenedor
    width 100%
    padding-bottom 100%
    position relative

  .caja-indicador
    left 0
    right 0
    top 0
    bottom 0
    position absolute
    overflow hidden
    margin (sep_escaque / 2)
    background-size contain
    background-repeat no-repeat
    background-position center 80%
    background-color #f8f8f8
    border-radius 10px
    box-shadow 0 5px 6px -6px black
    transition all 0.3s ease

  .caja-indicador:hover
    &[agrandar]
      -webkit-transform scale(1.05)
      -ms-transform scale(1.05)
      transform scale(1.05)
    &[mover]
      -webkit-transform translate(-1px,-2px)
      -ms-transform translate(-1px,-2px)
      transform translate(-1px,-2px)
      box-shadow 4px 7px 6px -6px black
    box-shadow 8px 12px 6px -6px black, -6px -6px 6px -6px rgba(250,250,250,0.7)
    cursor pointer

.img-preview
  float left
  margin 12px

.MuiDialog-paperFullScreen
  .img-preview
    max-width 50%
    &[full-width=full]
      max-width 100%

.link-descarga-archivo
  margin 0 5px

.primary
  color #007bff

.danger
  color #dc3545

.warning
  color #ffc107

.success
  color #28a745

.primary-background
  background-color #007bff
  color #eeeeee

.danger-background
  background-color #dc3545
  color #eeeeee

.warning-background
  background-color #ffc107
  color #111111

.success-background
  background-color #28a745
  color #eeeeee

header h6.jss2.jss4
  margin-left 115px

header h6.jss2.jss4 button#icon-button-header-3
  margin-left 390px

.local-logo
  vertical-align bottom
  height 44px

.local-logo#logo-header-0
  border-right solid #009CE4 1.5px
.MuiAppBar-colorPrimary
  background-color white !important
.jss7
  background-color #b7b7b7 !important
.jss7 .MuiInputBase-input.jss9
    color white !important

@media (min-width: 1200px)
  .local-logo#logo-header-0
    padding-right 25px

  .local-logo#logo-header-1
    height 40px

  .local-logo#logo-header-2
    height 25px

  .jss7
    position fixed !important
    top 25px
    right 255px